* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Anton', sans-serif; */
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  color: white;
  background-color: black;
  background: linear-gradient(
    90deg,
    #abffee 15%,
    #3d00a6 50%,
    #000e17 91%
  );
    background: linear-gradient(90deg, #f97794, #623aa2, #111111);

  /* background: linear-gradient(115deg, #abffee, #3d00a6, #000e17); */
}
.header {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}

.navbar .logo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: #47b2e4;
}

.buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.buttons a:not(:last-child) {
  margin-right: 30px;
}

.buttons .signin:hover {
  color: #47b2e4;
}

.buttons .signup {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 2.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.buttons .signup:hover {
  background-color: #fff;
  color: black;
}

#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  order: 1;
}

@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }
  .social-media {
    font-size: 30px;
  }
  .container .topic-head {
    width: 75%;
    padding: 30px;
  }
  .container .topic-head h3 {
    font-size: 1em;
    font-weight: bolder;
    border-bottom: 3px solid black;
  }

  .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #175d69;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }
}

/* GALLERY CSS */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .topic-head {
  width: 50%;
  padding: 50px;
}
.container .topic-head h3 {
  font-size: 2.6em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}
.container .topic-head h3 span {
  font-weight: 100;
}
.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.container .box img {
  /* width: 30%; */
  width: 100%;
  object-fit: cover;
  /* margin-bottom: 30px; */
  /* border-radius: 10px; */
}

.img-cover {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
  width: fit-content;
  padding: 10px;
}
.img-cover:nth-child(1),
.img-cover:nth-child(1),
.img-cover:nth-child(1) {
  display: inline-block;
}

@media only screen and (max-width: 769px) {
  .container .box {
    flex-direction: column;
  }
  .container .box .dream {
    width: 100%;
  }
  .container .topic-head h3 {
    font-size: 1.9em;
    font-weight: bolder;
    border-bottom: 3px solid white;
  }
  .social-media {
    font-size: 20px;
  }
}
@media only screen and (max-width: 643px) {
  .container .topic-head {
    width: 75%;
    padding: 30px;
  }
  .container .topic-head h3 {
    font-size: 2em;
    font-weight: bolder;
    border-bottom: 3px solid white;
  }
  .social-media {
    font-size: 10px;
  }
}

/* ---------------- footer css ----------------- */
/* .fa-brands{
  font-size: 40px;
} */
.social-media {
  font-size: 35px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 30px;
}
.footer {
  background-color: black;
  margin-block: 20px;
  padding: 30px;
}
.footer h3 {
  font-size: 1.2rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .social-media {
    font-size: 40px;
  }
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 30px;
  }
  .footer {
    background-color: black;
    margin-block: 20px;
    padding: 30px;
  }
  .footer h3 {
    font-size: 1.2rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 769px) {
  #load-more {
    border: 1px solid #fff;
    padding: 5px 10px;
  }

  .social-media {
    font-size: 30px;
  }
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-block: 20px;
  }
  .footer {
    padding: 10px;
  }
  .footer h3 {
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 643px) {
  #load-more {
    border: 1px solid #fff;
    padding: 5px 10px;
  }

  .social-media {
    font-size: 20px;
  }
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-block: 20px;
  }
  .footer {
    padding: 10px;
  }
  .footer h3 {
    font-size: 0.8rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
